*
{
	/*outline: 1px dotted aqua;*/
}
body
{
  font-family: "Lucida Grande", helvetica, sans-serif;
  font-size: 12px;
  color: #343434;
}
div#wrapper
{
	box-sizing: border-box;
	width: 960px;
	padding: 15px;
	margin: 0 auto;
	overflow: hidden;
}
div#nav ul li
{
	float: left; 
	list-style-type: none;
}
div#nav
{
float: right;
margin-top: 15px;
}
#logo h1
{
	font-family: "Kaushan Script", helvetica, sans-serif;
}
#logo
{
	float: left;
}
#cont
{
	clear: both;
    margin: 0;
    padding: 0;
    overflow: auto;
}
#header
{
	overflow: auto;
 border-bottom: 1px  solid #434343;
}
#header li a, #header li a:visited
{
	color: #000000;
	text-decoration: none;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
	display: block;
}
#header li a:hover
{
	color: #434343;	
	border-bottom: 2px solid #000000;
	}
	
#cont
{
	padding: 15px;
	margin-top: 35px;
}
.mezzo
{
	width: 400px;
	margin: 20px;
	float: left;
}
.body
{
    margin: 0 auto;
    text-align: center;
}